{
  "extends": "bandlab-base",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "rules": {
    "no-multi-spaces": [2],
    "one-var-declaration-per-line": ["error", "always"],
    "space-before-blocks": ["error", "always"],
    "space-before-function-paren": [2, "never"]
  }
}
