{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "PRODUCTION": true,
    "gtag": true
  },
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "camelcase": 0,
    "no-multi-spaces": 2,
    "no-unused-vars": [2, {
      "varsIgnorePattern": "^h$"
    }],
    "one-var-declaration-per-line": ["error", "always"],
    "prefer-arrow-callback": 2,
    "react/jsx-uses-vars": 2,
    "space-before-blocks": ["error", "always"],
    "space-before-function-paren": [2, "never"]
  },
  "settings": {
    "react": {
      "pragma": "h"
    }
  }
}
