<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="apple-touch-icon" sizes="192x192" href="/favicon.png">
    <link rel="icon" sizes="192x192" href="/favicon.png">
    <link rel="manifest" href="/manifest.json">
    <meta charset="utf-8">
    <meta name="description" content="Find out now showing movies in Singapore and get showtimes for local cinemas. Cinelah aggregates timings from Cathay, Filmgarde, GV, Shaw and WE.">
    <meta name="theme-color" content="#3E86C6">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="@pioug">
    <meta name="twitter:description" content="Find out now showing movies in Singapore and get showtimes for local cinemas. Cinelah aggregates timings from Cathay, Filmgarde, GV, Shaw and WE.">
    <meta name="twitter:image" content="https://www.cinelah.com/open-graph.png"/>
    <meta name="twitter:title" content="Cinelah">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=3.0, user-scalable=yes">
    <meta property="og:description" content="Find out now showing movies in Singapore and get showtimes for local cinemas. Cinelah aggregates timings from Cathay, Filmgarde, GV, Shaw and WE."/>
    <meta property="og:image" content="https://www.cinelah.com/open-graph.png"/>
    <meta property="og:image:height" content="400">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="400">
    <meta property="og:site_name" content="Cinelah"/>
    <meta property="og:title" content="Cinelah"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://www.cinelah.com/"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>

    <noscript>
      <main>
        <section>
          <p>You must enable JavaScript to use Cinelah 👍</p>
        </section>
      </main>
    </noscript>

    <main>
      <header>
        <div><a href="#">Cinelah</a></div>
        <div>
          <a href="/movies" aria-label="Go to Now Showing">
            <svg aria-hidden="true" fill="#000000" height="48" viewBox="0 0 24 24" width="48" xmlns="http://www.w3.org/2000/svg">
              <path d="M18 4l2 4h-3l-2-4h-2l2 4h-3l-2-4H8l2 4H7L5 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V4h-4z"/>
              <path d="M0 0h24v24H0z" fill="none"/>
            </svg>
          </a>
          <a href="/cinemas" aria-label="Go to Movie Theaters">
            <svg aria-hidden="true" fill="#000000" height="48" viewBox="0 0 24 24" width="48" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/>
              <path d="M0 0h24v24H0z" fill="none"/>
            </svg>
          </a>
        </div>
      </header>
      <div class="movies">
        <h1>Now Showing</h1>
        <a class="movie-tile">
          <div class="movie-tile-poster"></div>
          <div class="movie-tile-description">
            <div class="movie-tile-description-title placeholder"></div>
            <div class="movie-tile-description-subtitle">
              <div class="movie-tile-description-rating placeholder"></div>
            </div>
          </div>
        </a>
        <a class="movie-tile">
          <div class="movie-tile-poster"></div>
          <div class="movie-tile-description">
            <div class="movie-tile-description-title placeholder"></div>
            <div class="movie-tile-description-subtitle">
              <div class="movie-tile-description-rating placeholder"></div>
            </div>
          </div>
        </a>
        <a class="movie-tile">
          <div class="movie-tile-poster"></div>
          <div class="movie-tile-description">
            <div class="movie-tile-description-title placeholder"></div>
            <div class="movie-tile-description-subtitle">
              <div class="movie-tile-description-rating placeholder"></div>
            </div>
          </div>
        </a>
        <a class="movie-tile">
          <div class="movie-tile-poster"></div>
          <div class="movie-tile-description">
            <div class="movie-tile-description-title placeholder"></div>
            <div class="movie-tile-description-subtitle">
              <div class="movie-tile-description-rating placeholder"></div>
            </div>
          </div>
        </a>
        <a class="movie-tile">
          <div class="movie-tile-poster"></div>
          <div class="movie-tile-description">
            <div class="movie-tile-description-title placeholder"></div>
            <div class="movie-tile-description-subtitle">
              <div class="movie-tile-description-rating placeholder"></div>
            </div>
          </div>
        </a>
        <a class="movie-tile">
          <div class="movie-tile-poster"></div>
          <div class="movie-tile-description">
            <div class="movie-tile-description-title placeholder"></div>
            <div class="movie-tile-description-subtitle">
              <div class="movie-tile-description-rating placeholder"></div>
            </div>
          </div>
        </a>
        <a class="movie-tile">
          <div class="movie-tile-poster"></div>
          <div class="movie-tile-description">
            <div class="movie-tile-description-title placeholder"></div>
            <div class="movie-tile-description-subtitle">
              <div class="movie-tile-description-rating placeholder"></div>
            </div>
          </div>
        </a>
        <a class="movie-tile">
          <div class="movie-tile-poster"></div>
          <div class="movie-tile-description">
            <div class="movie-tile-description-title placeholder"></div>
            <div class="movie-tile-description-subtitle">
              <div class="movie-tile-description-rating placeholder"></div>
            </div>
          </div>
        </a>
        <a class="movie-tile">
          <div class="movie-tile-poster"></div>
          <div class="movie-tile-description">
            <div class="movie-tile-description-title placeholder"></div>
            <div class="movie-tile-description-subtitle">
              <div class="movie-tile-description-rating placeholder"></div>
            </div>
          </div>
        </a>
        <a class="movie-tile">
          <div class="movie-tile-poster"></div>
          <div class="movie-tile-description">
            <div class="movie-tile-description-title placeholder"></div>
            <div class="movie-tile-description-subtitle">
              <div class="movie-tile-description-rating placeholder"></div>
            </div>
          </div>
        </a>
        <a class="movie-tile">
          <div class="movie-tile-poster"></div>
          <div class="movie-tile-description">
            <div class="movie-tile-description-title placeholder"></div>
            <div class="movie-tile-description-subtitle">
              <div class="movie-tile-description-rating placeholder"></div>
            </div>
          </div>
        </a>
        <a class="movie-tile">
          <div class="movie-tile-poster"></div>
          <div class="movie-tile-description">
            <div class="movie-tile-description-title placeholder"></div>
            <div class="movie-tile-description-subtitle">
              <div class="movie-tile-description-rating placeholder"></div>
            </div>
          </div>
        </a>
        <a class="movie-tile">
          <div class="movie-tile-poster"></div>
          <div class="movie-tile-description">
            <div class="movie-tile-description-title placeholder"></div>
            <div class="movie-tile-description-subtitle">
              <div class="movie-tile-description-rating placeholder"></div>
            </div>
          </div>
        </a>
        <a class="movie-tile">
          <div class="movie-tile-poster"></div>
          <div class="movie-tile-description">
            <div class="movie-tile-description-title placeholder"></div>
            <div class="movie-tile-description-subtitle">
              <div class="movie-tile-description-rating placeholder"></div>
            </div>
          </div>
        </a>
        <a class="movie-tile">
          <div class="movie-tile-poster"></div>
          <div class="movie-tile-description">
            <div class="movie-tile-description-title placeholder"></div>
            <div class="movie-tile-description-subtitle">
              <div class="movie-tile-description-rating placeholder"></div>
            </div>
          </div>
        </a>
        <a class="movie-tile">
          <div class="movie-tile-poster"></div>
          <div class="movie-tile-description">
            <div class="movie-tile-description-title placeholder"></div>
            <div class="movie-tile-description-subtitle">
              <div class="movie-tile-description-rating placeholder"></div>
            </div>
          </div>
        </a>
        <a class="movie-tile">
          <div class="movie-tile-poster"></div>
          <div class="movie-tile-description">
            <div class="movie-tile-description-title placeholder"></div>
            <div class="movie-tile-description-subtitle">
              <div class="movie-tile-description-rating placeholder"></div>
            </div>
          </div>
        </a>
        <a class="movie-tile">
          <div class="movie-tile-poster"></div>
          <div class="movie-tile-description">
            <div class="movie-tile-description-title placeholder"></div>
            <div class="movie-tile-description-subtitle">
              <div class="movie-tile-description-rating placeholder"></div>
            </div>
          </div>
        </a>
        <a class="movie-tile">
          <div class="movie-tile-poster"></div>
          <div class="movie-tile-description">
            <div class="movie-tile-description-title placeholder"></div>
            <div class="movie-tile-description-subtitle">
              <div class="movie-tile-description-rating placeholder"></div>
            </div>
          </div>
        </a>
        <a class="movie-tile">
          <div class="movie-tile-poster"></div>
          <div class="movie-tile-description">
            <div class="movie-tile-description-title placeholder"></div>
            <div class="movie-tile-description-subtitle">
              <div class="movie-tile-description-rating placeholder"></div>
            </div>
          </div>
        </a>
        <a class="movie-tile">
          <div class="movie-tile-poster"></div>
          <div class="movie-tile-description">
            <div class="movie-tile-description-title placeholder"></div>
            <div class="movie-tile-description-subtitle">
              <div class="movie-tile-description-rating placeholder"></div>
            </div>
          </div>
        </a>
      </div>
    </main>

    <script>
      window.fetchingShowtimes = fetch('https://storage.googleapis.com/cinelah-92dbb.appspot.com/showtimes.json');
    </script>

    <%if (htmlWebpackPlugin.options.env == 'production') { %>
    <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA-40932161-7', 'auto');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <% } %>

  </body>
</html>
