* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:
   -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    'Helvetica Neue',
    sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #000;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 16px;
  position: sticky;
  top: 0;
  z-index: 3;
}

h1 {
  background-color: #000;
  color: #fff;
  font-weight: bold;
  padding: 8px 16px;
  position: sticky;
  position: sticky;
  top: 37px;
  z-index: 2;
}

.movies {
  display: flex;
  flex-wrap: wrap;
}

.movie-tile {
  align-items: flex-end;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: inline-flex;
  height: 150px;
  padding: 12px 16px;
  position: relative;
  width: 100vw;

  @media screen and (min-width: 500px) {
    width: calc(100vw / 2);
  }

  @media screen and (min-width: 900px) {
    width: calc(100vw / 3);
  }

  &:before {
    background-image: linear-gradient(to top right, rgba(#000, 0.6), transparent);
    content: '';
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  h2 {
    font-weight: 300;
    position: relative;
    text-shadow: 0 0 4px #000;
    z-index: 1;
  }
}

.time {
  background-image: radial-gradient(ellipse at -100% 100%, #6A73FB, #6DA2FC);
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-feature-settings: 'tnum';
  margin-bottom: 4px;
  margin-right: 4px;
  min-width: 50px;
  padding: 6px;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  bottom: 24px;
  position: fixed;
  right: 24px;
  z-index: 4;

  a {
    align-items: center;
    background-image: radial-gradient(ellipse at 0 bottom, #FF4459, #FF9842);
    border-radius: 50%;
    color: #fff;
    display: flex;
    font-size: 34px;
    font-weight: bolder;
    height: 64px;
    justify-content: center;
    text-align: center;
    text-shadow: 0 0 2px rgba(#000, 0.5);
    width: 64px;
  }

  svg {
    height: 40px;
  }
}
