* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-image: radial-gradient(ellipse at -100% 100%, #815A81, #3E86C6);
  min-height: 100vh;
}

body {
  color: #363637;
  font-family:
   -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    'Helvetica Neue',
    sans-serif;
  margin: 0;
  padding: 0;
  padding-bottom: 200px;
}

header {
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(#000, 0.3);
  display: flex;
  font-size: 22px;
  font-weight: bold;
  padding: 10px 0 9px 0;
  position: sticky;
  top: 0;
  z-index: 3;

  a {
    display: flex;
  }

  div {

    &:nth-child(1) {
      flex: 1;
      margin-left: 12px;

      &, & > * {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    &:nth-child(2) {
      display: flex;
      text-align: center;
    }
  }

  a {
    margin-right: 12px;

    &.active svg {
      fill: #FF4459;
    }
  }

  svg {
    height: 28px;
    width: 28px;
  }
}

h1 {
  backdrop-filter: blur(1px);
  background-image: radial-gradient(ellipse at -100% 100%, rgba(#3A3F52, 0.99), rgba(#3A3F52, 1));
  box-shadow: 0 0 4px rgba(#000, 0.3);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 6px 12px;
  position: sticky;
  top: 47px;
  z-index: 2;
}

section {
  margin: 12px;
}

p {
  color: #fff;
}

.movies {
  display: flex;
  flex-direction: column;
}

.movie-tile {
  align-items: center;
  color: #fff;
  display: flex;
  padding: 12px;
  position: relative;

  &:after {
    border-bottom: 1px solid rgba(#fff, 0.2);
    bottom: 0;
    content: '';
    left: 88px;
    position: absolute;
    right: 12px;
  }
}

.movie-tile-poster {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px;
  height: 48px;
  margin-right: 12px;
  min-width: 64px;
}

.movie-tile-description-title {
  font-size: 18px;
  margin-bottom: 4px;
}

.movie-tile-description-rating {
  align-items: center;
  display: inline-flex;
  background-color: rgba(#000, 0.2);
  border-radius: 4px;
  font-size: 12px;
  padding: 2px 4px;

  svg {
    fill: #FFCB00;
    height: 12px;
    margin-right: 4px;
    width: 12px;
  }
}

.cinema-tile {
  @extend .movie-tile;

  &:after {
    left: 88px;
  }
}

.cinema-tile-description-title {
  @extend .movie-tile-description-title;
  margin-bottom: 0;
}

.cinema-tile-description-column-1 {
  margin-top: -1px;
  margin-right: 12px;
  min-width: 64px;
  text-align: right;
}

.cinema-tile-description-rating {
  @extend .movie-tile-description-rating;
}

.cinemas {
  @extend .movies;
}

.cinema-times {
  position: relative;

  &:after {
    border-bottom: 1px solid rgba(#fff, 0.2);
    bottom: 0;
    content: '';
    left: 88px;
    position: absolute;
    right: 12px;
  }

  &:last-child:after {
    display: none;
  }

  .cinema-tile:after {
    display: none;
  }
}

.movie-times {
  position: relative;

  &:after {
    border-bottom: 1px solid rgba(#fff, 0.2);
    bottom: 0;
    content: '';
    left: 88px;
    position: absolute;
    right: 12px;
  }

  &:last-child:after {
    display: none;
  }

  .movie-tile:after {
    display: none;
  }
}

.times {
  margin-left: 88px;
  max-width: 600px;
  padding-bottom: 12px;
  padding-right: 12px;
}

.time {
  background: #fff;
  border-radius: 1px;
  box-shadow: inset 0 -2px 0 #ddd;
  color: #000;
  display: inline-block;
  font-feature-settings: 'tnum';
  margin-bottom: 6px;
  margin-right: 6px;
  min-width: 50px;
  padding: 6px;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}
